/* ================ laskarstack #1 ================ */
.laskarstack { margin: 0; padding: 0; position: fixed; bottom: 28px; right: 40px; font: 13px "Trebuchet MS", Verdana, Helvetica, sans-serif; color: #666;}
.laskarstack > img { margin: 0; padding: 0; position: relative; cursor: pointer; padding-top: 35px; z-index: 2; }
.laskarstack ul { margin: 0; padding: 0; list-style: none; position: absolute; top: 5px; cursor: pointer; z-index: 1; }
.laskarstack ul li { margin: 0; padding: 0; position: absolute; }
.laskarstack ul li img { margin: 0; padding: 0; border: 0; }
.laskarstack ul li span { margin: 0; padding: 0; display: none; }
.laskarstack .openStack li span { 
	margin: 0; 
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	display:block;
	height: 14px;
	position:absolute;
	top: 17px;
	right:60px;
	line-height: 14px;
	border: 0;
	background-color:#000;
	padding: 3px 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	color: #fcfcfc;
	text-align: center;
	text-shadow: #000 1px 1px 1px;
	opacity: .85;
	filter: alpha(opacity = 85);
}

/* IE Fixes */
.laskarstack { _position: absolute; }
.laskarstack ul { _z-index:-1; _top:-15px; }
.laskarstack ul li { *right:5px; }